<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="../assets/main_styles.css">
  <script src="https://kit.fontawesome.com/9fbdbccf85.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--probably unnecessary-->
  <script src="https://unpkg.com/vuex"></script> <!--probably unnecessary-->
</head>
<body>
  <div class="container">
    <div class="bottom-section">
      <h1 id="text-with-shadow">Habit Tracker</h1>
      <div class="info">
        <h2 id="text-with-shadow">Get your act TOGETHER!</h2>
        <ul>
          <li><span class="subText">Track your habits</span></li>
          <li><span class="subText">Stay organized</span></li>
          <li><span class="subText">Stay motivated</span></li>
        </ul>
        <form action="/users/register" method="GET">
          <button class="signup-btn">Sign up</button>
        </form>
          <p>or</p>
        <form action="/users/login" method="GET">
          <button class="login-btn">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
