<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/9fbdbccf85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/new_dashboard_styles.css">
    
</head>

<body>
    <div id="app" v-cloak>
        <div>
            <h1>Habit Tracker</h1> 
        </div>
        <div class="logout-section">
            <p>Welcome {{user.name}}</p>
            <a href="/users/logout">Logout</a>
        </div>
    
        <div>
            <h2>Daily To-Do List</h2>
            <p class="subtext">Click icons below to toggle Done/To-Do, mark favorites, or delete habits!</p>
        </div>
        <habit-container :habitContent="habitContent" @add-habit="addHabit" class="habit-container"></habit-container>
        <habits-list :habits="habits"></habits-list>

        <footer>
            <div class="social-icons">
                <a href="https://www.instagram.com/theboiiryan/" target="_blank"><i class="fa-2x fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ryan-holton-62a79322b" target="_blank"><i class="fa-2x fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/VentusLeon/VentusLeon" target="_blank"><i class="fa-2x fa-brands fa-github"></i></a>
            </div>
        </footer>
           
    </div>

    <script>
        const API_URL = "http://localhost:3000/"

        const app = Vue.createApp({                                             //app start here -----------
            data() {
                return {
                    user: '',
                    habits: [],
                }
            },
            methods: {
                async getUser() {
                    axios.get(API_URL + "GetUser")
                    .then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.error("Error fetching users:", error)
                    })
                },
                async getHabits() {
                    axios.get(API_URL + "GetHabits")
                    .then(response => {
                        this.habits = response.data;
                    }).catch(error => {
                        console.error("Error fetching habits:", error)
                    })
                },
                async addHabit(habitContent) {
                    // Assuming `user` is available in app data
                    const response = await axios.post(API_URL + "AddHabit", {}, {
                        params:{
                            content: habitContent,
                            email: this.user.email
                        }
                    })
                    this.habits.push(response.data)
                },
                async deleteOldHabits() {
                    axios.post("DeleteOutdated")
                    .then(response => {
                        console.log(response.data.deletedCount, " documents deleted successfully")
                    })
                    .catch(error => {
                        console.error(error)
                    })
                }
            },
            mounted() {
                this.deleteOldHabits()
                .then(() => {
                    this.getUser()
                    this.getHabits()
                }).catch(error => {
                    console.error(error)
                })
            }
        })                                                                     //app end here -----------------

        app.component("habit-container", {                                      //habit-container start here-----------
            template: `
                <div class="habit-container">
                    <div>
                        &emsp;&emsp;&emsp;
                        <i class="fa-solid fa-check"></i>
                         Done&emsp;&emsp;
                        
                        <i class="fa-solid fa-minus"></i>
                         To-Do&emsp;&emsp;
                    </div>
                    <habit-input v-model="habitContent" @keydown.enter="submitHabit"></habit-input>
                    <button @click="submitHabit" class="submit-button"><i class="fa-solid fa-circle-plus"></i></button>
                </div>
            `,
            data() {
                return {
                    habitContent: ""
                }
            },
            components: ["habit-input"],
            methods: {
                submitHabit() {
                    this.$emit("add-habit", this.habitContent)
                }
            }
        });                                                                     //habit-container end here -------------

        app.component("habit-input", {                                          //habit-input start here ---------------
            template: `
                <input type="text" v-model="habitInputText" placeholder="Enter habit" class="habit-input">
            `,
            props: ["modelValue"],
            computed: {
                habitInputText: {
                    get() {
                        return this.modelValue
                    },
                    set(value) {
                        this.$emit("update:modelValue", value)
                    }
                }
            },
        })                                                                      //habit-input end here ------------------

        app.component("habits-list", {                                          //habits-list start here -------------
            template: `
                <div class="habits-list">
                    <ul>
                        <li v-for="(habit, index) in habits" :key="index" class="habits-list-item">{{habit.content}}
                            <span @click="toggleCompleted(index, habit._id)">
                                <i v-if="habit.complete" class="fa-solid fa-check complete"></i>
                                <i v-else class="fa-solid fa-minus incomplete"></i>
                            </span>
                            <i class="fa-solid fa-trash-can" @click="removeHabit(index, habit._id)"></i>
                            <span @click="toggleFavorite(index, habit._id)">
                                <i v-if="habit.favorite" class="fa-solid fa-star fav-icon"></i>
                                <i v-else class="fa-regular fa-star unfav-icon"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            `,
            props: ["habits"],
            methods: {
                async removeHabit(index, id) {
                    try {
                        this.habits.splice(index, 1)
                        await axios.post(API_URL + "DeleteHabit", {}, {
                            params: {
                                _id: id
                            }
                        }).then(console.log(id))
                    } catch (error) {
                        console.error(error)
                    }
                },
                async toggleFavorite(index, id){
                    try {
                        this.habits[index].favorite = !this.habits[index].favorite
                        await axios.post(API_URL + "FavoriteHabit", {}, {
                            params: {
                                _id: id
                            }
                        }).then(console.log(id))
                    } catch (error) {console.error(error)}
                },
                async toggleCompleted(index, id) {
                    try {
                        this.habits[index].complete = !this.habits[index].complete
                        await axios.post(API_URL + "ToggleComplete", {}, {
                            params: {
                                _id: id
                            }
                        }).then(console.log(id))
                    } catch (error) { console.error(error)}
                }
            }
        })                                                                      //habits-list end here -------------------

        app.mount("#app")
    </script>
</body>
</html>
