* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #0f0f0f 5%, #12014a);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 50px;
    text-shadow: 5px 3px #131313;
}

a {
    color: grey;
}

.submit-button {
    position: absolute;
    right: 200px;
    top: 45px;
}

.logout-section {
    transform: translate(850%, 100%);
    background: #ffffff1a;
    border-radius: 20px;
    position: absolute;
    width: 200px;
    text-align: center;
    overflow-y: auto;
}

.habit-container {
    color: white;
    position: relative;
    top: 250px;
    left: 50%;
    padding: 20px;
    width: 1000px;
    transform: translate(-50%, -50%);
    background: #ffffff1a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

h2 {
    padding: 10px;
    font-size: 2em;
    text-shadow: 5px 3px #000000;
    text-align: center;
    position: relative;
    transform: translate(0, 200px)
}

.habit-header input {
    width: 54%;
    border: none;
    border-radius: 5px;
    height: 40px;
}

.habit-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #00000054;
    display: flex;
    flex-direction: row;
    width: 900px;
    transform: translate(0px, 200px);
}

.habit-list-item form {
    width  : 100%;
    display: flex;
}

.habit-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
}

.habit-list-item .favorite {
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 2.5px;
    font-size: 18px;
}

.habit-list-item div {
    flex-grow: 2;
    margin-top: 2.5px;
}

.habit-list-item .status {
    margin-top: 2.5px;
}

.habit-list-item .remove {
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.habit-container ul {
    list-style: none;
}

.habit {
    width: 900px;
}



.habits-list ul {
    padding: 0;
    margin: 0;
    display: table;
    margin: 0 auto;
}

.habits-list li {
    padding: 10px;
    border: 1px solid #ccc;
}


.fa-circle-plus {
    color: #3500D3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.fa-trash-can {
    color: darkgreen;
}

.fa-star {
    color: gold;
}

.fa-check {
    padding-bottom: 15px;
    color: green;
}

.fa-x {
    color: red;
}

.fa-minus {
    color: rgb(221, 169, 0);
}